.sport-cont{
  /* w-[300px] backdrop-blur-[5px] rounded-2xl border border-black overflow-hidden */
  width: 300px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: solid black 1px;
  overflow: hidden;
  transform: scale(1);
  transition: transform .3s;
  cursor: pointer;
}

.sport-cont:hover{
  transform: scale(1.1);
}

.sport-cont:active{
  transform: scale(1.05);
}