.mouse-scroll {
    margin: 15px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.mouse {
	width: 35px;
	height: 55px;
	border: 3px solid #ffffff;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: start;
}

.wheel {
	width: 5px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 4px;
	animation: scroll 1s infinite;
	margin-top: 8px;
}

.arrow {
	width: 8px;
	height: 8px;
	border-right: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	transform: rotate(45deg);
}

@keyframes cursorAnimation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -384px 0;
	}
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(5px);
	}

	100% {
		transform: translateY(0);
	}
}